<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-menu></app-menu>

<!-- slide-->


<div class="carousel">
  <ngb-carousel *ngIf="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img    class="img"   src="assets/033.png" alt="Random first slide" width="1400" height="562">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img    class="img"   src="assets/022.png" alt="Random first slide" width="1400" height="562">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img    class="img"   src="assets/01.png" alt="Random first slide" width="1400" height="562">
      </div>
    </ng-template>
  </ngb-carousel>

</div>
