<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>

  <div id="logo">

    <img src="/assets/logo.png" height="45">

  </div>
  
  
  <ul>
    <a href="home" id="btn">
      <li> Home </li>
    </a>
    <a href="quemsomos" id="btn">
      <li> Quem Somos </li>
    </a>
    <a href="produtos" id="btn">
      <li> Produtos </li>
    </a>
    <a href="login" id="btn">
      <li> Login </li>
    </a>
    <a routerLink="/carrinho">
      <li> <i class=" carrinho fa fa-shopping-cart" aria-hidden="true"></i> 
        
      </li>
     
    </a>
  </ul>

  

</header>
