<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-menu></app-menu>

<!-- PÁGINA-->
<div id="pagina">
  <img src="assets/003.png" width="680">
  <ul>

    <p>
      A Elética P.G nasceu em 2006 na cidadde de Taquaritinga-SP, onde estamos localizados até hoje.Começamos atuando no
      mercado de ferramentas elétricas, desde então fomos crescendo e diversificando o mercado de produtos e serviços.
      Hoje trabalhamos com manutenções industriais,manutenção de motores elétricos,concerto de compressores, ferramentas
      Pneumáticas, e muito mais. São 16 anos de Dedicação e Qualidade.
      Trabalhamos com as melhores marcas, além de sermos Assistência Técnica Autorizada Chiaperini e Trapp.


    </p>




  </ul>

</div>







<div class="imagen02">
  <iframe id="mapa"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3714.5082623019325!2d-48.50764258491586!3d-21.409258391531804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b9396f0a0f8b8f%3A0xc374bcf5a8f424b5!2sR.%20da%20Rep%C3%BAblica%20-%20Taquaritinga%2C%20SP%2C%2015900-000!5e0!3m2!1sen!2sbr!4v1662122168329!5m2!1sen!2sbr"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <img src="assets/009.png" width="600">
</div>

<!-- Início do formulário -->

<div class="formulario">
  <h1>CONTATE-NOS</h1>

</div>


<!-- rodapé  -->
